@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  font-family: "Fira Code", monospace;
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-weight: 400;
  box-sizing: border-box;
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;

  position: relative;
}

.neon-text {
  position: relative;
  text-shadow: 0 0 5px #14df9b, 0 0 10px #14df9b, 0 0 20px #14df9b,
    0 0 30px #14df9b, 0 0 40px #14df9b, 0 0 50px #14df9b, 0 0 75px #14df9b;
  animation: neon-glow 2s infinite alternate;
}

@keyframes neon-glow {
  0% {
    text-shadow: 0 0 5px #14df9b, 0 0 10px #14df9b, 0 0 20px #14df9b,
      0 0 30px #14df9b, 0 0 40px #14df9b, 0 0 50px #14df9b, 0 0 75px #14df9b;
  }
  50% {
    text-shadow: 0 0 10px #14df9b, 0 0 20px #14df9b, 0 0 30px #14df9b,
      0 0 40px #14df9b, 0 0 50px #14df9b, 0 0 75px #14df9b, 0 0 100px #14df9b;
  }
  100% {
    text-shadow: 0 0 5px #14df9b, 0 0 10px #14df9b, 0 0 20px #14df9b,
      0 0 30px #14df9b, 0 0 40px #14df9b, 0 0 50px #14df9b, 0 0 75px #14df9b;
  }
}
